body {
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
  padding: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 80%;
}

.country-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countryCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.countryCard img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.countryCard p {
  margin: 10px 0 0 0;
  font-size: 18px;
  font-weight: bold;
}
